<!DOCTYPE html>
<html lang="ru"  ng-app="kotApp">
    <head>
        <meta charset="utf-8"/>
        <title>Хабар24 | Панель администратора приложения Хабар 24</title>
        <!-- Meta tags -->
        <meta name="description" content="Панель администратора приложения Хабар 24" />
        <meta name="keywords" content="Хабар 24" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body class="bg-secondary" ng-controller="LoginController">
        <div class="wrapper d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="card mb-3 login-form">
                            <div class="row card-header align-items-center no-gutters">
                                <div class="col-1">
                                    <img src="images/logo.png" class="card-img" alt="">
                                </div>
                                <div class="col-10">
                                    <h6 class="ml-3 mb-0">Панель администратора <br /><small class="text-muted">Настройка приложения Хабар24</small></h6>
                                </div>
                            </div>
                            <form class="card-body">
                                <div class="form-group">
                                    <label for="formLogin">Ваш логин:</label>
                                    <input  ng-model="login" type="text" class="form-control" id="formLogin" placeholder="Введите ваш логин.."/>
                                </div>
                                <div class="form-group">
                                    <label for="formPassword">Ваш пароль:</label>
                                    <input ng-model="pass" type="password" class="form-control" id="formPassword" placeholder="Введите ваш пароль.."/>
                                </div>
                                <div class="text-right">
                                    <input ng-click="signin(login,pass)" class="btn btn-outline-primary btn-block" type="submit" value="Войти">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="script/app.js"></script>   
    </body>
</html>