/*
* patient.css
*/

body { /*вызвать врача - форма*/
    background: url(../Components/SK1.jpg) no-repeat;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: calc(0.5rem + 1vw);

}

#button__2 {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(1rem + 1vw);
    padding: 0;
    border-radius: 15px;
    width: calc(5% + 15vw);
    height: auto;
    color: white;
    background: #6503dd;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

#center_forma {
    margin: auto;
    width: 75%;
    text-align: center;
}

#entrance {
    margin-left: -10%;
    margin-top: -1%;
}
#entrance_ {
    margin-left: -10%;
    margin-top: -1%;
}

#A1 {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

#A2 {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

#A3 {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

#Head_text {
    text-align: center;
    font-size: calc(0.5rem + 1.1vw);
    font-family: 'Times New Roman', Times, MelodBold, serif;
    border-radius: 10px;
    padding: 5px;
    background: radial-gradient(#fffdbc, #99970f);
    box-sizing: border-box;
    max-width: 35%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.input2 {
    float: left;
    margin-top: 1%;
    text-align: center;
    border-radius: 10px;
    font-size: calc(0.3rem + 1.3vw);
    padding: calc(0.3vw + 0.01%);
    box-sizing: border-box;
    width: 100%;
    background: #fff;
}

.unvisib {
    visibility: hidden;
}
.unvisib.vis {
    visibility: visible;
}
.visib {
    visibility: visible;
}
.visib.unvis {
    visibility: hidden;
}

#button2 {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(0.3rem + 1vw);
    padding: 0;
    border-radius: 15px;
    width: calc(5% + 5vw);
    height: auto;
    background: #178d00;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

/*видеозвонки кнопка*/
#videophone {
    float: right;
    margin-right: -10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(0.3rem + 1vw);
    padding: 0;
    width: calc(5% + 5vw);
    height: auto;
    background: rgba(23, 141, 0, 0);
    border: solid rgba(183, 196, 7, 0);
}

/*patient visit*/
.log {
    overflow: hidden;
    background: radial-gradient(#ff9597, #c70002);
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: calc(30vw + 75px);
    transform: translate(-50%, -50%);
    transition: transform 300ms,
    box-shadow 300ms;
    margin-top: 7%;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

.log::before, .log::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 85vw;
    border-radius: 40% 45% 40% 35%;
    z-index: -1;
}

.log::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(51, 122, 199, 0.15);
    animation: wawes 6s infinite linear;
}

.log::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(24, 215, 240, 0.2);
    animation: wawes 7s infinite;
}

.log > input {
    display: block;
    border-radius: 5px;
    font-size: calc(0.3rem + 1vw);
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    outline: none ! important;
}

.log > button {
    cursor: pointer;
    color: rgb(173, 118, 118);
    font-size: calc(0.3rem + 1vw);
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: background-color 300ms;
}

.log > button:hover {
    background-color: #626262;
    color: aliceblue;
}

@keyframes wawes {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

#button11 {
    float: right;
    padding: 1% 1%;
    background-color: rgba(99, 0, 226, 0.96);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    font-size: calc(0.3rem + 2vw);
    color: #FFF;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.2s ease-out;
    margin-top: 1.5%;
}

#button11:hover, #button11:active {
    background-color: rgba(1, 37, 255, 0.9);
}

#button134 {
    float: right;
    padding: 1% 1%;
    background-color: rgba(99, 0, 226, 0.96);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    font-size: calc(0.3rem + 2vw);
    color: #FFF;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.2s ease-out;
    margin-top: 1.5%;
}

#button134:hover, #button134:active {
    background-color: rgba(1, 37, 255, 0.9);
}
@media screen and (max-width: 1023px) {
    body {
        font-size: calc(0.5rem + 1vw);
        background: url(./mobile.jpg) center center no-repeat;
        background-size: cover;
        height: 235vw;
    }

    img#sign {
        width: 28%;
    }

    #Head_text {
        max-width: 90%;
        margin: 1% auto;
        font-size: calc(1rem + 2vw);
    }
    #button__2 {
        width: calc(25% + 10vw);
        font-size: calc(1.2rem + 2vw);
    }

    #button2 {
        width: calc(20% + 5vw);
        height: auto;
        margin-top: 2%;
    }

    #videophone {
        width: calc(20% + 8vw);
        height: auto;
        margin-top: 2%;
    }

    .log {
        padding: 3% 1% 3% 1%;
        width: 90vw;
        height: 90vw;
        margin-top: calc(0.1% + 18vw);
    }

    #button11 {
        float: none;
        border: none;
        border-radius: 30px;
        box-sizing: border-box;
        box-shadow: none;
        width: 90%;
        font-size: calc(1.2rem + 3vw);
        color: #fff;
        transition: background-color 0.2s ease-out;
        margin: 7.5% 0 0 5%;
    }
    #button134 {
        float: none;
        border: none;
        border-radius: 30px;
        box-sizing: border-box;
        box-shadow: none;
        width: 90%;
        font-size: calc(1.2rem + 3vw);
        color: #fff;
        transition: background-color 0.2s ease-out;
        margin: 7.5% 0 0 5%;
    }

    .input2 {
        margin: 1.2% 0 1.2% 5%;
        border-radius: 60px;
        font-size: calc(1rem + 2.6vw);
        padding: calc(0.6vw + 0.1%);
        width: 90%;
        background: #f7ffff;
    }

    .log::before, .log::after {
        width: 100vw;
        height: 200vw;
        border-radius: 50% 45% 50% 45%;
    }
}
