<div class="change-wrapper">
	<p class="changes-title">
		Контакты
	</p>
	<p class="description-text">Если вы решили, что вам нужно решить ваш вопрос с нашим программистом, то
		прежде чем писать ему,
		рекомендуем прочитать раздел на нашем сайте <a href="faq"><b
				class="underline-bold">Вопрос-Ответ</b></a>.</p>
	<div class="program-call">
		<p class="change-title">
			Только в случае, если вы ознакомились <b style="color: #FF3E3E;">СО ВСЕМИ</b> пунктами раздела
			Вопрос-Ответ,
			но вашего вопроса там не оказалось вы можете написать<br />
			напрямую нашему программисту по ссылке ниже и решить ваш вопрос.
		</p>
		<div class="vk-button flex-direction-row" type="button" onclick="window.open('https://vk.com/phantasm')">
			<div class="icon-but" id="vk"></div>
			<p class="vk-text">Страница ВКонтакте</p>
		</div>
		<p class="warn-text">В случае, если ваш вопрос есть в списке страницы Вопрос-Ответ,<br>
			ваш аккаунт автоматически попадает в бан нашей группы ВКонтакте.</p>
	</div>
</div>