<div class="change-wrapper">
	<p class="changes-title">
		Ответы на часто задаваемые вопросы
	</p>
	<div class="faq-with-margin">
		<p class="faq-title"><b>Вопрос</b>: Где скачать модпак?</p>
		<p class="faq-text"><b>Ответ</b>: Все ссылки есть на главной странице нашего сайта. Выбираете удобный способ и качаете.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Как настроить моды после установки?</p>
		<p class="faq-text"><b>Ответ</b>: В ангаре появится дополнительная кнопка справа внизу.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Часто ловлю вылет или черный экран при входе в бой!</p>
		<p class="faq-text"><b>Ответ</b>: Если у вас Windows XP - переставьте модпак, полностью отключив
			раздел XVM в установщике, либо обновляйтесь до Windows 7/8/10.<br> Если у вас уже стоит Windows
			7 или выше - читайте далее.
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Я скачал модпак и поставил, а модов все равно нет!</p>
		<div class="flex-direction-row">
			<p class="faq-text"><b>Ответ:</b></p>
			<p class="faq-text" style="margin-left: 3px;"> 1) Убедитесь, что вы скачали самую последнюю
				актуальную версию
				модпака. Нередко Wargaming выпускает микропатчи игры,
				принудительно отключающие устаревшие моды. Поэтому качайте <b>новую версию модпака</b>, и не
				пытайтесь
				ставить старую версию
				на обновленный клиент.<br>
				2) Убедитесь, что вы указываете правильную папку для установки. Нам десятки раз с пеной
				у рта
				доказывали, что модпак плохой, и в
				итоге каждый раз человек краснел от собственной глупости, обнаружив что наплодил две-три
				разных
				установки игры, при этом
				ставит модпак в одну папку, а игру запускает из другой. Очень устали каждому доказывать,
				что он
				сам виноват. Никто не верит.
				Приходится тыкать носом. Исключений не было ни разу за пять лет.</p>
		</div>
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Моды глючат!</p>
		<div class="flex-direction-row">
			<p class="faq-text"><b>Ответ:</b></p>
			<p class="faq-text" style="margin-left: 3px;"> Вот вам подробный список действий:
				1) Скачайте самую последнюю версию модпака (<a href="https://www.joves-modpack.ru/"><b class="underline-bold">тут</b></a>).<br>
				2) Поставьте модпак в режиме очистки профайла (на второй странице установщика — <i>«Удалить все моды и очистить профайл»</i>).<br>
				3) Если не помогло - снесите модпак через панель управления, снесите танки, поставьте танки с нуля, потом ставьте модпак опять же в режиме очистки профайла.<br>
				4) Если и это не помогло - <span style="color:#FF6A6A">закрываем танки, ищем файлы python.log и xvm.log из папки World_of_Tanks,
				а также файл JovesModPack.log из папки JovesModPack.
				Если ситуация случилась в бою - ищем нужный реплей. Объясняем, что случилось, нормальным русским языком человеку, который указан в разделе </span>
				<a href="https://www.joves-modpack.ru/contacts"><b class="underline-bold">Контакты</b></a>.
			</p>
		</div>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Жестко проседает FPS!</p>
		<div class="flex-direction-row">
			<p class="faq-text"><b>Ответ:</b></p>
			<p class="faq-text" style="margin-left: 3px;">Как правило, больше всего fps съедает XVM. При
				этом неважно, активировано ли отображение статистики или нет. Попробуйте
				отключать боевые компоненты XVM и смотрите, какой из них больше всего влияет на FPS именно
				на вашей машине. Бывает и так,
				что приходится кататься вовсе без XVM.<br>
				2) Вы уверены, что не ставите посторонние моды? Уверены, что они не влияют на FPS? Такие
				случаи нередки.

			</p>
		</div>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Когда вернется мод “Рейтинг позиций на миникарте”?</p>
		<p class="faq-text"><b>Ответ</b>: Скорее всего никогда, увы. Его авторы прекратили разработку.
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: После установки модов пропали некоторые танки.</p>
		<p class="faq-text"><b>Ответ</b>: Они поставлены в “резерв”. Это дополнительный фильтр, который
			добавляет XVM. Найдите его в списке фильтров техники и включите - все пропавшие танки находятся
			там. Обратно из резерва их можно достать по правому клику над танком.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Как включить и настроить статистику игроков?</p>
		<p class="faq-text"><b>Ответ</b>: Её нужно активировать каждые 2 недели на сайте <a	href="https://www.modxvm.com/" target="_blank">
		<b class="underline-bold">https://www.modxvm.com/</b></a> -
			входите под своей учетной записью игры и жмёте “<b>Настройки - Активировать сервисы</b>”. Для
			настройки статистики (WN8, EFF) там же выбираете требуемые опции, вид рейтинга, флаг и т.д.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Как рисовать на миникарте?</p>
		<p class="faq-text"><b>Ответ</b>: Это одна из фич XVM под названием <b>XMQP</b>. Включается в
			настройках на сайте <a target="_blank" href="https://www.modxvm.com/"><b class="underline-bold">https://www.modxvm.com/</b></a>.
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Где скачать модпак?</p>
		<p class="faq-text"><b>Ответ</b>: Все ссылки есть на главной странице нашего сайта. Выбираете удобный способ и качаете.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Куда делся процент на победу?</p>
		<p class="faq-text"><b>Ответ</b>: Выпилили отовсюду, из XVM и из всех модпаков. Забудьте про этот несчастный процент уже.</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: А где средний урон в списке танков? Вижу только знак классности и процент побед.
		</p>
		<p class="faq-text"><b>Ответ</b>: Нужно, чтобы было включено отображение статистики в XVM (см. выше).</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Где WoT Tweaker?</p>
		<p class="faq-text"><b>Ответ</b>: В папке с танками после установки модпака появится программа WoTTweakerPlus. </p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Как включить просмотр брони? </p>
		<p class="faq-text"><b>Ответ</b>: В ангаре есть кнопка модов</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Что за ошибка? Runtime Error (at …): Не найден указанный модуль, ProgID: “VBScript.RegExp”
		</p>
		<div class="flex-direction-row">
			<p class="faq-text"><b>Ответ:</b></p>
			<p class="faq-text" style="margin-left: 3px;">Ваша винда - кривая :) Как бы забавно это ни
				звучало. Данная ошибка возникает на разнообразных неофициальных сборках Windows, авторы
				которых любят вырезать оттуда “лишние”, по их мнению, компоненты. 
				<b>Попробовать починить это можно так:</b><br>
				1) Пуск - печатаем “cmd”, в списке появится “cmd.exe” (либо “Командная строка”). Правой
				кнопкой по нему - “Запуск от имени
				администратора”. <br>
				2) В появившемся окне пишем: regsvr32 %systemroot%\system32\vbscript.dll (прямо с процентиками)<br>
				3) Нажать Enter.

			</p>
		</div>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Я скачал модпак, но он не запускается.</p>
		<p class="faq-text"><b>Ответ</b>: Проверьте, корректно ли скачался файл установщика. Как вариант -
			перекачайте с другой официальной ссылки. Если у вас Windows 10 - проставьте в свойствах файла
			галочку “Разблокировать”.
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: Где взять мод на выбор карт?</p>
		<p class="faq-text"><b>Ответ</b>: Это не мод, а особенность некоторых пресс-аккаунтов, которые дают
			некоторым блогерам, журналистам, киберспортсменам и т.д. Вам его не дадут, просить бессмысленно.
			Просить Джова - тоже. Особо упорным в данном вопросе раздаем баны за назойливость и тупость.
		</p>
	</div>

	<div class="faq">
		<p class="faq-title"><b>Вопрос</b>: У меня не работает прицел Джова!</p>
		<p class="faq-text"><b>Ответ</b>: Настройки - Прицел - Аркадный - Сведение - Круг IV (сплошной). То
			же самое для снайперского режима. Маркер орудия - по желанию.</p>
	</div>
	<div class="program-call" style="margin-bottom:50px">
		<p class="change-title">
			Только в случае, если вы ознакомились <b style="color: #FF3E3E;">СО ВСЕМИ</b> пунктами раздела
			Вопрос-Ответ,
			но вашего вопроса там не оказалось вы можете написать<br />
			напрямую нашему программисту по ссылке ниже и решить ваш вопрос.
		</p>
		<div class="vk-button flex-direction-row" type="button" onclick="window.open('https://vk.com/phantasm')">
			<div class="icon-but" id="vk"></div>
			<p class="vk-text">Страница ВКонтакте</p>
		</div>
		<p class="warn-text">В случае, если ваш вопрос есть в списке страницы Вопрос-Ответ,<br>
			ваш аккаунт автоматически попадает в бан нашей группы ВКонтакте.</p>
	</div>
</div>